@import '~styles/colors';

.why-us_hexes {
	position: absolute;
	top: -105px;
	.why-us_back-hex {
		height: 210px;
		width: 210px;
	}
	.why-us_front-hex {
		position: absolute;
		height: 175px;
		width: 175px;
		text {
			fill: $white;
		}
	}
}
