@import '~styles/colors';

.points_hexes {
	position: absolute;
	z-index: 1;
	top: -37px;
	.points_back-hex {
		height: 75px;
		width: 75px;
	}
	.points_front-hex {
		position: absolute;
		height: 60px;
		width: 60px;
		text {
			font-family: Helvetica, proxima-nova;
			font-weight: 800;
			font-size: 40px;
			fill: $white;
		}
	}
}
