@import '~styles/medias';

$layouts_gap: 15px;

.molecule_layout {
	margin: 0 auto;
	padding-top: $layouts_gap;
	max-width: 1200px;
	transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
	&.reset {
		margin-bottom: 200px;
	}
}

@include for-until-tablet {
	.molecule_layout {
		max-width: 100%;
		padding: 0;
		padding-top: $layouts_gap;
	}
}

@include for-until-big-desktop {
	.molecule_layout {
		max-width: 1200px;
	}
}
