$white: white;
$header_big_color: #222B33;
$primary_color: #FF5500;
$secondary_color: #035E86;
$header_color: $secondary_color;
$secondary_color_hover: #096F8B;
$secondary_text_color: #222b33;
$gray: #EAEEF0;
