@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: normal;
	src: local('Gotham Book'), url('~assets/fonts/Gotham/GothamBook.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: normal;
	src: local('Gotham Book Italic'), url('~assets/fonts/Gotham/GothamBookItalic.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 300;
	src: local('Gotham Light'), url('~assets/fonts/Gotham/GothamLight.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 300;
	src: local('Gotham Light Italic'), url('~assets/fonts/Gotham/GothamLightItalic.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	src: local('Gotham Medium'), url('~assets/fonts/Gotham/GothamMedium.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 500;
	src: local('Gotham Medium'), url('~assets/fonts/Gotham/GothamMediumItalic.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 600;
	src: local('Gotham Bold'), url('~assets/fonts/Gotham/GothamBold.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 600;
	src: local('Gotham Bold Italic'), url('~assets/fonts/Gotham/GothamBoldItalic.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 900;
	src: local('Gotham Black Regular'), url('~assets/fonts/Gotham/Gotham-Black.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 100;
	src: local('Gotham Thin Regular'), url('~assets/fonts/Gotham/Gotham-Thin.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 200;
	src: local('Gotham XLight Regular'), url('~assets/fonts/Gotham/Gotham-XLight.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 100;
	src: local('Gotham Thin Italic'), url('~assets/fonts/Gotham/Gotham-ThinItalic.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 900;
	src: local('Gotham Ultra Italic'), url('~assets/fonts/Gotham/Gotham-UltraItalic.woff') format('woff');
}


@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: 200;
	src: local('Gotham XLight Italic'), url('~assets/fonts/Gotham/Gotham-XLightItalic.woff') format('woff');
}

@font-face {
	font-family: 'BillyOhio';
	font-style: normal;
	font-weight: normal;
	src: url('~assets/fonts/BillyOhio/BillyOhio.ttf') format('truetype'),
					url('~assets/fonts/BillyOhio/BillyOhio.otf') format('opentype');
}

@font-face {
	font-family: 'Larsseit';
	font-style: normal;
	font-weight: normal;
	src: url('~assets/fonts/Larsseit/Larsseit-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Larsseit';
	font-style: normal;
	font-weight: bold;
	src: url('~assets/fonts/Larsseit/Larsseit-Bold.otf') format('opentype');
}
