@font-face {
	font-family: 'proxima-nova';
	font-style: normal;
	font-weight: normal;
	src: url('~assets/fonts/ProximaNova/Nova-Book.otf') format('opentype')
}

@font-face {
	font-family: 'proxima-nova';
	font-style: italic;
	font-weight: normal;
	src: url('~assets/fonts/ProximaNova/Nova-BookItalic.otf') format('opentype')
}

@font-face {
	font-family: 'proxima-nova';
	font-style: normal;
	font-weight: 100;
	src: url('~assets/fonts/ProximaNova/Nova-Thin.otf') format('opentype')
}

@font-face {
	font-family: 'proxima-nova';
	font-style: italic;
	font-weight: 100;
	src: url('~assets/fonts/ProximaNova/Nova-ThinItalic.otf') format('opentype')
}

@font-face {
	font-family: 'proxima-nova';
	font-style: normal;
	font-weight: 200;
	src: url('~assets/fonts/ProximaNova/Nova-Light.otf') format('opentype')
}


@font-face {
	font-family: 'proxima-nova';
	font-style: italic;
	font-weight: 200;
	src: url('~assets/fonts/ProximaNova/Nova-LightItalic.otf') format('opentype')
}


@font-face {
	font-family: 'proxima-nova';
	font-style: normal;
	font-weight: 500;
	src: url('~assets/fonts/ProximaNova/Nova-Semibold.otf') format('opentype')
}


@font-face {
	font-family: 'proxima-nova';
	font-style: italic;
	font-weight: 500;
	src: url('~assets/fonts/ProximaNova/Nova-SemiboldItalic.otf') format('opentype')
}

@font-face {
	font-family: 'proxima-nova';
	font-style: normal;
	font-weight: 600;
	src: url('~assets/fonts/ProximaNova/Nova-Bold.otf') format('opentype')
}


@font-face {
	font-family: 'proxima-nova';
	font-style: italic;
	font-weight: 600;
	src: url('~assets/fonts/ProximaNova/Nova-BoldItalic.otf') format('opentype')
}

@font-face {
	font-family: 'proxima-nova';
	font-style: normal;
	font-weight: 700;
	src: url('~assets/fonts/ProximaNova/Nova-Extrabold.otf') format('opentype')
}

@font-face {
	font-family: 'proxima-nova';
	font-style: italic;
	font-weight: 700;
	src: url('~assets/fonts/ProximaNova/Nova-ExtraboldItalic.otf') format('opentype')
}

@font-face {
	font-family: 'proxima-nova';
	font-style: normal;
	font-weight: 900;
	src: url('~assets/fonts/ProximaNova/Nova-Black.otf') format('opentype')
}


@font-face {
	font-family: 'proxima-nova';
	font-style: italic;
	font-weight: 900;
	src: url('~assets/fonts/ProximaNova/Nova-BlackItalic.otf') format('opentype')
}

@font-face {
	font-family: 'BillyOhio';
	font-style: normal;
	font-weight: normal;
	src: url('~assets/fonts/BillyOhio/BillyOhio.ttf') format('truetype'),
					url('~assets/fonts/BillyOhio/BillyOhio.otf') format('opentype');
}

@font-face {
	font-family: 'Larsseit';
	font-style: normal;
	font-weight: normal;
	src: url('~assets/fonts/Larsseit/Larsseit-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Larsseit';
	font-style: normal;
	font-weight: bold;
	src: url('~assets/fonts/Larsseit/Larsseit-Bold.otf') format('opentype');
}
