$header_big_height: 920px;
$header_small_height: 380px;
$menu_text_size: 12px;
$menu_item_size: 130px;
$language_icon_size: 30px;
$social_icon_size: 30px;

$shadow_3d: 0 1px 0 0px rgba(0, 0, 0, 0.5),
											0 2px 0 0px rgba(255, 255, 255, 0.22);
