@import '~styles/variables';

.molecule-language-menu_menu-item-container {
	width: $menu_item_size;
	.molecule-language-menu_text {
		margin-right: 5px;
	}
	.molecule-language-menu_language-icon {
		height: $language_icon_size;
		width: $language_icon_size;
		border-radius: 100%;
	}
}
