.atom_simple-input {
	font-family: Gotham;
	font-size: 12px;
	font-weight: 500;
	padding: 25px;
	text-transform: uppercase;
	border: none;
	outline: none;
	box-shadow: 5px 0px 23px 7px rgba(34, 43, 51, 0.08);
}


